In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
data = pd.read_csv(r"C:\Users\Shaik Sakhlaih\Downloads\titanic.csv")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [5]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
imputer = SimpleImputer(strategy='most_frequent')
data['Age'] = imputer.fit_transform(data[['Age']])

In [8]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
data['Cabin'].mode()[0]

'B96 B98'

In [10]:
data['Cabin'] = data['Cabin'].fillna('B98')

In [11]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [12]:
data['Embarked'].mode()[0]

'S'

In [13]:
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

In [14]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [16]:
from sklearn.preprocessing import OrdinalEncoder

ol = OrdinalEncoder()

data['Pclass'] = ol.fit_transform(data[['Pclass']]).astype(int)

data['Pclass'].value_counts()

Pclass
2    491
0    216
1    184
Name: count, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data['Name'] = le.fit_transform(data['Name'])
data['Cabin'] = le.fit_transform(data['Cabin'])
data['Ticket'] = le.fit_transform(data['Ticket'])


a = data['Name'].value_counts()
b = data['Cabin'].value_counts()
c = data['Ticket'].value_counts()

print(a)
print(b)
print(c)

Name
220    1
108    1
190    1
353    1
272    1
      ..
359    1
840    1
28     1
729    1
95     1
Name: count, Length: 891, dtype: int64
Cabin
48     687
146      4
64       4
47       4
142      3
      ...
120      1
6        1
71       1
30       1
61       1
Name: count, Length: 148, dtype: int64
Ticket
333    7
80     7
568    7
249    6
566    6
      ..
590    1
85     1
275    1
472    1
669    1
Name: count, Length: 681, dtype: int64

In [18]:
data['Age'] = data['Age'].astype(int)
data['Fare'] = data['Fare'].astype(int)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int64
 4   Sex          891 non-null    object
 5   Age          891 non-null    int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    int64
 9   Fare         891 non-null    int64
 10  Cabin        891 non-null    int64
 11  Embarked     891 non-null    object
dtypes: int64(10), object(2)
memory usage: 83.7+ KB

In [20]:
data = pd.get_dummies(data, columns = ['Sex'], drop_first = True)

In [21]:
data['Sex_male'].value_counts()

Sex_male
True     577
False    314
Name: count, dtype: int64

In [22]:
data.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_male
0,1,0,2,108,22,1,0,523,7,48,S,True
1,2,1,0,190,38,1,0,596,71,82,C,False
2,3,1,2,353,26,0,0,669,7,48,S,False
3,4,1,0,272,35,1,0,49,53,56,S,False
4,5,0,2,15,35,0,0,472,8,48,S,True

In [23]:
data['Sex_male'] = data['Sex_male'].astype(int)

In [24]:
data.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_male
0,1,0,2,108,22,1,0,523,7,48,S,1
1,2,1,0,190,38,1,0,596,71,82,C,0
2,3,1,2,353,26,0,0,669,7,48,S,0
3,4,1,0,272,35,1,0,49,53,56,S,0
4,5,0,2,15,35,0,0,472,8,48,S,1

In [25]:
data = pd.get_dummies(data, columns = ['Embarked'], drop_first = True)

In [26]:
data.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Embarked_Q,Embarked_S
0,1,0,2,108,22,1,0,523,7,48,1,False,True
1,2,1,0,190,38,1,0,596,71,82,0,False,False
2,3,1,2,353,26,0,0,669,7,48,0,False,True
3,4,1,0,272,35,1,0,49,53,56,0,False,True
4,5,0,2,15,35,0,0,472,8,48,1,False,True

In [27]:
data[['Embarked_Q', 'Embarked_S']] = data[['Embarked_Q','Embarked_S']].astype(int)

In [28]:
data.head(1)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Embarked_Q,Embarked_S
0,1,0,2,108,22,1,0,523,7,48,1,0,1

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int64
 4   Age          891 non-null    int64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    int64
 8   Fare         891 non-null    int64
 9   Cabin        891 non-null    int64
 10  Sex_male     891 non-null    int64
 11  Embarked_Q   891 non-null    int64
 12  Embarked_S   891 non-null    int64
dtypes: int64(13)
memory usage: 90.6 KB

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor

x =  data.drop(['Survived'], axis = 1)
y = data['Survived']

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.2, random_state = 0)

a = x_train.shape, x_test.shape
b = y_train.shape, y_test.shape

print(a)
print(b)

((178, 12), (713, 12))
((178,), (713,))

In [33]:
gbs = GradientBoostingRegressor(loss='squared_error', learning_rate=0.1, n_estimators=100, subsample=1.0)

model = gbs.fit(x_train, y_train)

model

GradientBoostingRegressor()

In [34]:
y_pred = model.predict(x_test)
y_pred

array([ 2.19169281e-01, -1.18553907e-01,  1.53440248e-01,  8.90145334e-01,
        1.00300901e+00,  2.88648949e-01,  8.69586380e-01,  7.09140116e-01,
        1.08899325e+00,  9.24278242e-01,  8.44128887e-02,  9.27592600e-01,
        8.70810433e-02,  1.11511316e+00,  1.06671186e+00,  9.67490531e-01,
        3.16432716e-01,  2.38117795e-02,  1.23274653e-01,  7.20238542e-01,
        3.58158035e-01,  1.15429696e+00,  1.06063942e-01,  9.52544224e-01,
        9.14830240e-01,  1.06685313e+00,  1.49553535e-01,  5.03250585e-01,
        9.98721306e-01,  7.83857713e-01,  3.04590162e-02,  5.78941509e-01,
        1.22086313e-01,  8.87958646e-02,  2.35427747e-01,  2.38007625e-01,
        3.10546771e-01,  2.02265752e-01,  3.77979113e-01,  8.55054263e-02,
        7.36296300e-01,  5.57727421e-04,  2.03224806e-01,  1.85893362e-01,
        8.34099396e-01, -4.59862229e-02, -8.52115446e-03,  9.11939446e-01,
        2.41260934e-01,  2.89975912e-01,  9.12497950e-01,  3.18902927e-01,
        1.07206627e+00,  2.62282203e-02,  5.82231855e-01,  1.35870497e-01,
        1.91625295e-01,  2.81256665e-01,  1.70122543e-01,  1.05296389e-01,
        1.45207678e-02,  7.58264703e-01,  6.90013174e-01,  9.38828447e-01,
        7.29630536e-01,  6.71754106e-02,  8.04770698e-01,  2.25072188e-01,
        1.18640391e+00,  1.03478705e+00,  9.42779545e-01,  1.56996859e-01,
        9.82446499e-01,  1.17259741e-01,  3.87003180e-02,  8.54602746e-01,
        1.26485305e+00,  5.83365807e-01,  2.25945386e-01, -9.64055626e-02,
        1.35880683e-01,  3.02758880e-01,  8.45371780e-01,  8.81068025e-02,
       -1.24228407e-02,  9.92791549e-01,  8.35523073e-01,  6.75458808e-01,
        9.98378871e-01,  3.80202234e-01,  9.46120238e-01, -7.39700776e-03,
        4.02848608e-01,  9.68059000e-01,  7.83857713e-01,  1.75112348e-01,
        1.17918010e+00,  1.89434881e-01,  5.83522031e-02,  5.55794913e-01,
        1.31151298e-01,  6.29424225e-02,  1.16171775e-01,  9.06040443e-02,
        4.86338487e-01,  5.75664121e-01,  6.10110501e-01,  5.04143102e-01,
        4.01699476e-01,  8.16622267e-01,  1.95354077e-02,  1.18129766e+00,
        5.05324389e-01,  7.42233365e-01,  9.39059336e-01,  8.37183656e-01,
        1.48364632e-01,  9.28919549e-01, -8.52115446e-03,  6.14803558e-01,
        4.90052124e-01,  8.61758797e-01,  6.24206817e-02,  2.46972804e-01,
        4.27248327e-01,  7.14003657e-01,  2.92655437e-01, -3.00346478e-02,
        8.09544222e-02, -7.48936277e-02,  1.06849504e+00,  6.26719310e-02,
        2.80176622e-02,  8.03928422e-01,  2.56175250e-01,  8.49344397e-01,
        7.61292010e-02,  7.94006880e-01, -2.23389033e-02,  1.91669701e-01,
        2.54073473e-01,  7.34671844e-01,  9.25047265e-02,  1.09308856e+00,
        9.38721077e-01,  8.45585785e-01,  1.48595187e-01,  8.32407361e-01,
        6.55489477e-01,  4.30220916e-04,  3.12771753e-01,  7.36154379e-01,
        9.13133043e-01,  2.84253139e-02,  9.39332290e-01,  1.91669701e-01,
        9.34686858e-01, -2.18496261e-02,  8.61482568e-01,  9.28043303e-01,
       -1.31677102e-02,  1.17434777e-01,  5.23597308e-01,  8.11917708e-01,
        3.09619113e-01,  3.82243384e-02, -2.00455271e-02,  5.03755286e-02,
        8.34662656e-02,  3.76900777e-01,  2.63007295e-01,  7.27155844e-01,
       -2.14943626e-01,  1.76582812e-01,  9.06050978e-01,  8.53542751e-02,
        8.41290756e-01,  1.06480579e-01,  1.76278175e-01,  1.06759536e+00,
        2.30244090e-01,  1.21331282e-01,  1.40495966e-01,  9.35839231e-03,
        1.90123135e-01,  4.66878094e-01,  9.46559178e-01, -3.88712202e-02,
       -1.37411957e-02,  9.94990673e-01,  5.71116376e-01,  4.71856014e-01,
        8.73578386e-01,  8.74741968e-01,  1.48304426e-01,  8.14005645e-02,
       -1.06559897e-01,  9.01908592e-01,  3.38079682e-01,  2.10395560e-02,
        9.09245378e-02,  1.11325942e+00, -2.26567597e-02,  7.26137771e-01,
        9.79316947e-02,  2.08745808e-01,  8.76183580e-01,  1.85429211e-01,
        7.93132266e-01, -9.99165055e-02,  1.83434625e-02,  1.39045117e-01,
        1.17373387e-01,  1.05620335e+00,  1.26994888e-01,  8.47321965e-02,
        8.42318595e-02,  4.94461039e-01,  5.03837368e-01,  1.07189457e+00,
        1.24941633e-01,  8.88311599e-01,  1.00078624e+00,  4.01169758e-02,
        5.82165474e-01,  3.44498316e-02,  6.28757782e-03,  7.43465070e-01,
       -1.06817411e-01,  3.25099306e-02,  8.34477056e-02,  9.63636863e-01,
        2.17200567e-01,  7.70472383e-01,  2.32519706e-01,  1.81432760e-01,
        7.07310945e-01,  1.11158947e+00,  9.62358260e-01, -1.25783613e-01,
        1.11459058e-02,  9.09705543e-01,  1.11062399e-01,  8.78339265e-01,
        1.25075406e+00,  3.60144299e-01,  9.45061394e-01,  3.30049740e-02,
       -7.88727688e-02,  8.16548886e-01,  1.41752326e-01,  1.92665221e-01,
        2.82571578e-01,  2.42051715e-01,  2.75429136e-01,  8.11760092e-01,
        8.97073036e-01,  6.53337012e-02,  1.17808389e-01,  7.17868536e-02,
       -4.59862229e-02,  3.43384187e-02,  3.05018405e-01,  7.12490186e-01,
        1.53672097e-01,  3.78340308e-02,  9.60122564e-01, -2.25467218e-03,
        7.00567698e-01,  5.80800862e-01,  4.71206559e-01, -8.65517595e-02,
        8.99674517e-01,  2.73205650e-01,  4.13257042e-01,  6.50197361e-01,
       -2.25449418e-02, -5.16188874e-02,  9.16881805e-01,  3.40768638e-01,
        1.22911540e-01,  8.17459847e-01,  1.98401142e-01,  7.46024456e-01,
       -2.05188785e-01,  9.74025227e-02,  4.69253136e-01,  9.21206987e-01,
        2.62206538e-02,  1.43263640e+00,  8.04543120e-01,  1.87349518e-01,
        1.13374881e+00,  6.76412596e-01,  1.04325501e+00,  5.87821180e-01,
        4.06062371e-01,  3.25977706e-02,  1.90123135e-01,  1.23100016e-01,
        1.13554157e+00,  1.29147872e-01,  5.90093051e-01,  6.08945610e-01,
        9.17683739e-01,  8.10120313e-01,  5.36657660e-01,  1.64382584e-01,
        4.85632278e-01,  6.65953165e-02,  9.78682603e-01,  4.71289633e-01,
        8.72655487e-01, -2.63693311e-03,  9.10616664e-02,  3.92451774e-01,
        1.48143214e+00,  6.27723976e-02, -1.32110558e-01,  1.51156543e-01,
        2.92655437e-01,  7.57869722e-01,  1.11887477e+00,  1.00416310e+00,
        5.85896059e-01,  3.76341578e-02,  3.02198536e-01,  8.44612009e-02,
        2.12101488e-01,  4.14059099e-01,  7.68833840e-01,  8.76736295e-02,
        7.13972531e-02,  2.17782062e-01,  1.61382924e-01,  2.91240204e-01,
        8.66602425e-02,  6.28043702e-01,  6.90821538e-01, -1.00350156e-01,
        1.17162979e-01, -2.80462785e-01,  8.17441026e-02,  1.63282381e-01,
        9.47259838e-01,  8.45144355e-01,  7.82499008e-01,  1.51446076e-01,
        5.81451176e-02,  8.64546849e-01,  6.60406977e-01,  6.34995556e-01,
        6.25550433e-03, -2.60448624e-01,  7.22469641e-01,  4.39568162e-02,
        1.03948269e+00,  7.07220448e-01,  5.57011381e-01,  2.54792598e-01,
        7.49273359e-01,  8.49686553e-01,  1.05058545e+00,  1.00472574e+00,
        9.86228103e-01,  1.12076899e+00,  4.36805208e-01,  1.74588516e-01,
        2.14425549e-01,  9.81977303e-01,  7.48683014e-02,  1.66204858e-01,
        8.10221077e-01,  7.00340107e-01,  5.04231665e-01,  1.06858433e+00,
        1.01163366e+00,  3.28835561e-01,  1.30826779e+00,  1.15281414e-01,
        1.04326383e+00,  7.75820443e-02,  8.65950325e-01,  8.93680094e-02,
       -1.37722086e-01,  1.27597382e-01,  6.04432889e-02,  3.40908955e-02,
        1.02677214e+00,  8.10084618e-01,  4.82208506e-01,  1.05758308e+00,
        7.82271327e-01,  5.80952556e-01,  9.51740518e-05,  8.31880719e-01,
        7.44430406e-01,  5.74163716e-01,  9.40465956e-01,  7.12666128e-01,
        9.00849540e-02,  8.20091284e-01,  3.68581017e-01,  5.54293650e-01,
        9.62877082e-02,  4.15859978e-01,  6.24358995e-01,  3.46454543e-01,
        8.56812783e-02, -9.47176937e-02,  1.65048714e-01,  9.80234411e-02,
        6.58605367e-01,  4.55864918e-01, -4.43243698e-02,  3.03460590e-01,
        2.23044208e-01,  1.29220047e-01,  4.18158657e-01,  1.68344974e-01,
        6.68543335e-01, -5.04016547e-02,  7.14589015e-01,  4.54266061e-01,
        1.27597382e-01,  9.20619138e-01, -8.47179959e-02,  1.08057438e+00,
        7.07447243e-01,  4.80368925e-02,  6.01240519e-02,  1.53046296e-01,
        1.02952776e+00,  1.11344948e+00,  6.44161443e-01,  1.05670608e-01,
        1.72715363e-01,  8.46090079e-01,  9.90765064e-01, -2.63693311e-03,
       -1.13533113e-01,  1.00616066e+00,  5.77676114e-01,  1.23479998e-02,
        8.64872868e-02, -4.59862229e-02,  2.61080630e-01,  2.00829358e-01,
        1.19391145e-01,  1.16658432e-01,  5.32087617e-01,  1.50922273e-01,
        1.12404611e+00,  1.23358295e-01, -3.07648724e-02,  2.94042312e-01,
        8.63906584e-02,  9.10676019e-01,  9.37144132e-02,  1.23435053e+00,
       -1.21611063e-03,  1.43103740e-01,  7.27682350e-01,  8.71643624e-01,
        6.62008849e-01,  1.17078921e+00,  9.63674608e-01,  1.23653029e-01,
        8.46355313e-02,  8.54391207e-01,  9.68475266e-01,  9.48317306e-01,
       -4.25036647e-02,  7.54955209e-01, -8.55979986e-04,  1.66829789e-01,
        8.17459847e-01,  3.14474510e-01,  3.53762345e-01,  1.62025636e-01,
        2.36287085e-01,  1.79885662e-01,  8.74023422e-01,  1.11269412e+00,
       -1.24961849e-01,  1.20508273e-01,  9.54937334e-01,  5.99267758e-02,
        3.68539169e-01,  7.55098123e-01,  9.29820232e-01,  1.20301474e-01,
        5.14415917e-01,  8.73582467e-01,  7.25125640e-01,  1.45455425e-01,
        1.24005344e-01,  5.06868278e-01,  1.46947781e-03,  3.96605444e-02,
        7.03984812e-01,  7.03984812e-01,  1.18003615e-01,  8.50416933e-01,
        3.44794565e-01,  2.26007084e-01,  7.48317173e-02,  8.17518493e-01,
        9.30743076e-02,  8.65246797e-01,  1.27100851e-01, -3.76769232e-02,
        6.66302020e-02,  3.16437953e-02,  8.36610046e-01,  4.55648411e-01,
        8.80369942e-01,  8.17639442e-01,  1.14441749e+00,  1.08455931e+00,
        9.97901460e-01,  2.59348782e-01,  8.93659303e-01,  1.80884161e-01,
        1.00800639e-01,  1.44191024e-01,  6.11330502e-01,  1.48748201e-01,
        2.82422238e-01,  4.42660225e-01,  2.83951188e-01,  7.37187280e-01,
        3.14661180e-02,  1.01984247e+00,  1.24926623e-01,  1.23100016e-01,
        8.49865300e-01,  1.28685952e+00,  9.41661446e-02,  9.63886421e-01,
        7.93630022e-01,  8.52315430e-01, -4.05169511e-03,  8.66764150e-02,
        3.39084319e-01,  3.37030647e-02,  1.04479313e+00,  1.08088511e-01,
        6.13104438e-01,  7.91034808e-01,  2.32871799e-01,  1.75608414e-01,
        1.02882163e+00,  8.49308864e-01,  4.54366473e-01,  5.42712358e-01,
        8.73780413e-01,  9.35196950e-01,  1.58912793e-01,  8.11932635e-01,
        8.02313451e-01,  8.60563251e-01,  1.74319038e-01,  1.12492472e+00,
        3.16483610e-02,  1.09928693e+00,  1.77079853e-01,  1.22911540e-01,
        1.08841876e+00,  6.59350435e-01,  2.60599259e-01,  6.49289195e-01,
        2.59367106e-01,  6.51634463e-01, -2.63693311e-03,  5.15548054e-02,
        7.00063703e-01,  6.01331734e-01,  2.61758537e-02,  2.22756153e-01,
        4.43872982e-01, -7.98118771e-02,  7.81552578e-01, -8.52115446e-03,
        1.95535579e-01,  2.02587536e-01,  5.84866636e-01,  2.69278882e-01,
        8.94695984e-01,  4.64778590e-01,  9.27366472e-01,  1.15318269e+00,
        7.98994918e-02,  1.81273127e-01,  7.21982274e-01,  1.16269661e+00,
        2.33043703e-01,  1.33133040e+00,  7.11914643e-01,  1.63152363e-01,
        1.42922454e-01, -1.21026451e-02,  2.72546380e-01,  8.44146229e-01,
        1.63695433e-01,  1.87742521e-01, -2.18665721e-01,  1.38503561e-01,
        1.06609129e+00,  7.39239853e-01,  1.02947066e+00,  9.40685293e-01,
        1.23553399e+00,  9.55023132e-01,  1.04149152e-01,  3.12805187e-01,
        3.92551663e-01,  7.07615027e-01,  4.40338084e-01,  4.82514697e-01,
        1.36565190e-02,  9.24352106e-01,  7.28419001e-01,  9.39026561e-01,
        1.08363001e-01,  2.76299676e-01,  2.46976557e-01,  3.07264771e-02,
        4.30859391e-01,  8.49492014e-01,  6.04933861e-01,  4.24685576e-01,
        2.96028262e-02,  2.75166754e-01,  1.14319612e-01,  1.64981621e-03,
        1.11829742e+00,  1.18697752e+00,  9.21077466e-02,  7.56886277e-01,
        2.94680570e-01,  1.00411101e+00,  2.84659188e-01,  3.86872385e-01,
        5.41832596e-02,  3.89979440e-01,  5.73278716e-01,  9.82854954e-01,
        9.25162917e-01,  1.01352557e+00,  1.00822427e+00, -1.56575997e-02,
        1.00386526e+00,  1.59412697e-01,  5.57727421e-04,  5.75779005e-01,
        1.14779804e+00,  1.46432604e-01,  6.66490149e-01,  1.04506120e-01,
        1.95535579e-01,  2.81256665e-01,  6.03937568e-02,  7.28040386e-01,
        9.10115731e-01,  9.21840198e-02,  2.61447556e-01,  1.26410199e+00,
        1.62316682e-01,  9.21392197e-02, -3.08481493e-02,  1.73412216e-01,
        2.87512075e-02,  3.31037040e-01, -8.22848381e-02,  1.10764768e-01,
        7.54192626e-01,  7.51479804e-01,  1.66400271e-01,  1.01845602e-01,
        9.97628165e-02,  4.76020035e-02,  8.53921664e-01,  1.22352831e+00,
        2.95865189e-01, -8.25667100e-02,  2.37948173e-01,  1.09209412e+00,
        1.08600159e+00,  2.17997567e-01,  7.28358903e-01,  2.01703050e-02,
        8.24677489e-01,  8.38312026e-01,  5.94477456e-01,  9.25903476e-01,
        2.33686586e-01, -2.63693311e-03,  1.16932639e+00, -5.10161358e-02,
       -3.72421318e-02,  1.13721701e+00,  4.21267780e-01,  6.37466666e-02,
        1.13643693e-01,  7.81912266e-01, -1.05564936e-01,  1.60354267e-01,
        1.22342845e-01,  1.46371490e-01,  2.19283729e-01, -9.23712302e-02,
        1.23134292e-01])

In [36]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print("The mean squared error :",mse)

The mean squared error : 0.20517449361837975

In [37]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)*10

print(f" Accuracy of R2_Score = {r2}")

 Accuracy of R2_Score = 1.1585501520460717